
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100 700;
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400 700;
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.font-title {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
.btn-quote {
  padding: 10px 20px;
  background-color: #003366;
  color:#fff;
  border-radius: 4px;
  font-size: 14px;
}
.slick-dots {
  bottom: 40px !important;
}
.breaking-news-running {
  margin-top: -36px;
  opacity: 1 !important;
  position: relative;
  z-index: 1;
}
.slick-slider {
  background-color: #000;
}
.slick-slider img {
  opacity: 0.4;
}
.hero-slide-text {
  position: absolute;
  text-align: center;
  line-height: 120%;
  z-index: 1;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-weight: medium;
}
.slick-dots li button:before {
  color:white;
  opacity: 0.4;
  font-size: 10px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}